<body class="d-flex vh-100 justify-content-center align-items-center">
    <div class="container">
        <h1 class="text-center mt-4 float-in" style="animation-duration: 0.5s;">Hi Becca and Luke!</h1>
        <h2 class="text-center float-in" style="animation-duration: 0.8s;">Are you ready to find out what's for dinner?</h2>

        <div class="text-center float-in" style="animation-duration: 1.5s;">
            <button (click)="openSpinner()">What's for dinner?</button>
        </div>
    </div>
</body>
